<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nitin.News.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Nitin.News.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>40.7142° N, 74.0064° W</value>
            </setting>
            <setting name="LocationName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LocationMode" serializeAs="String">
                <value>manual</value>
            </setting>
            <setting name="cmbCulture_SelectedIndex" serializeAs="String">
                <value>1</value>
            </setting>
        </Nitin.News.Properties.Settings>
    </userSettings>
</configuration>
